# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

### --- Propre à l'env local 

go.mod
go.sum

### --- Propre au projet 

faass
conf.json
content/
cache/
server.crt
server.key

### --- Poubelle 

tmp/
src/test
sav-*

